/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Sen&display=swap');

/* common styles */

body{
    font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Sen', sans-serif;
    background-color: #E5E5E5;
}

main{
    display: flex;
    justify-content: center;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

/* top-players style */

.top-player-title{
    color: #562EFF;
    margin-top: 3px
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player{
    display: flex;
    align-items:center
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}